<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Page</title>

    <!-- To fix the style not being displayed, we put a slash (/) to
    say to search for the css on the root route -->
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>