<h1>This is the secret page</h1>

<p style="position: absolute; left: 190px; top: 132px;">Hello!</p>
<img src="https://vignette.wikia.nocookie.net/guilds/images/e/e1/Meerca_white.png/revision/latest/top-crop/width/300/height/300?cb=20130625173359" alt="Secret Meerca" />


<li><a href="/register">Sign up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>