body{
  font-family: 'Montserrat', sans-serif;
}

hr{
  margin: 7% 0 7% 0;

}

.data{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem; /* rem double the root element, not the parent, very good to do proportional fonts*/
  color: #71a4f7;
}

.pborda{
  border-left: 2px solid #becde5;
  padding-left: 10px;

}

div{
  border: 20px solid #becde5;

  /*Centralizando*/
  margin: 20px auto;
  width: 80%;
  max-width: 700px;

  /* Preenchimento da div*/
  padding: 25px;

}
