<style>
  /* Reset */
  html,
  body {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
  }
  h1 {
    text-align: center;
  }
</style>

<div class="flex-container">
  <h1>This is my root route home.</h1>
</div>
